<a href="">
    <img src="/Logo.png" alt="" class="logo">
</a>
<div class="nav__pane">
    <form action="" method="get">
        <button type="submit" class ="Main_btn">
            <li class="button_text">Home</li> 
        </button>
    </form>
    <% if (auth) { %>
        <form action="add" method="get">
            <button type="submit" class ="Add_btn">
                <li class="button_text">Add</li>
                <img class="button_icon" src="Add.png">
            </button>
        </form>
        <form action="logout" method="get">
            <button type="submit" class ="Logout_btn">
                <li class="button_text">Log out</li> 
                <img class="button_icon" src="Log Out.png">
            </button>
        </form>
    <% } else { %>
        <form action="auth" method="get">
            <button type="submit" class ="Login_btn">
                <li class="button_text">Log in</li> 
                <img class="button_icon" src="Log In.png">
            </button>
        </form>
    <% } %>
</div>

<div class="nav_pane_margin"></div>
